
<!DOCTYPE html>
<html lang = "en">
    <head>
        <meta charset = "UFT-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/style.css"  type= "txt/css">
        <title>Burger App</title>
    </head>
    <body>
        {{{ body }}}
    </body>
</html>












{{!-- <div class ="container">
    <div class= "row">
        <div class="col-xs-12 center">
            <img src="/assets/img/burger.png" class = "img_top" />  
        </div>
    </div>
    <div class = "row">
        <div class= "col-xs-12">
            <h1>Eat-Da-Burger</h1>
            <div class= "row">
                <div class= "col-xs-6">
                    {{#each burgers}}
                    {{#unless this.devoured}}
                    <div class = "row">
                        <div class ="devour_btn">
                            <form action = "/{{this.id}}?_method=PUT" method= "POST">
                                <button type = "submit">Devour it </button>
                            </form>
                        </div>
                        <div class ="burger_not_devoured">
                            {{this.id}}. {{this.burger_name}}
                        </div>
                    </div>
                    {{/unless}}
                {{/each}}
              </div>
              <div class= "clearfix visible-xl-block"></div>
              <div class= "col-xs-6">
                  {{#each burgers}}
                  {{#if this.devoured}}
                    <div class="burger_devoured">
                        {{this.id}}.{{this.burger_name}}
                    </div>
                {{/if}}
            {{/each}}
              </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4 center">
                <form action="/" method="POST">
                <textarea name="new_burger" id="new_burger" class="textarea"></textarea>
                <input type= "submit" value="Submit" class="submit"/>
                </form>
                <span class= "txt_bottom">Create a burger you want to eat! Click Submit to have your wish granted!</span>
            </div>
         </div> 
    </div>
</div>
</div> --}}

